[submodule "cpp_module_00"]
	path = cpp_module_00
	url = https://github.com/jgo-42/cpp_module_00
	branch = main
[submodule "cpp_module_01"]
	path = cpp_module_01
	url = https://github.com/jgo-42/cpp_module_01
	branch = main
[submodule "cpp_module_02"]
	path = cpp_module_02
	url = https://github.com/jgo-42/cpp_module_02
	branch = main
[submodule "cpp_module_03"]
	path = cpp_module_03
	url = https://github.com/jgo-42/cpp_module_03
	branch = main
[submodule "cpp_module_04"]
	path = cpp_module_04
	url = https://github.com/jgodv/cpp_module_04
	branch = main
[submodule "make_config"]
	path = make_config
	url = https://github.com/jgodv/make_config
	branch = cpp
[submodule "cpp_module_05"]
	path = cpp_module_05
	url = https://github.com/devjgo/cpp_module_05
	branch = main
